.buttonPanel {
    width: 150px;
    margin: 40px;
}
.table {
    margin: 40px 100px;
}
.button {
    width: 120px;
    height: 30px;
    margin: 5px;
}
.image {
    margin: 50px;
}
.localeLabel {
    font-size: 18px;
    width: 220px;
    margin: 20px;
    background-color: ghostwhite;
}