.buttonPanel {
    width: 150px;
    margin: 40px;
}
.table {
    margin: 40px 100px;
}
.controlButton {
    width: 120px;
    height: 30px;
    margin: 5px;
}
.image {
    margin: 50px;
}
.userAmountLabel {
    font-size: 18px;
    width: 220px;
    margin: 20px;
    background-color: ghostwhite;
}
.dialogButtonPanel {
    margin-right: 8px;
    text-align: right;
}

.dialogButton {
    margin: 5px 2px;
    width: 60px;
    height: 25px;
    display: inline;
}